<head>
	<style>
			
	</style>
</head>

<div ng-controller="adminsController as ctrl" >

	<md-toolbar>
		<div class="md-toolbar-tools">
			
			<h2>eCommerce</h2>
			<span flex></span>
			
			<md-button aria-label="Settings" ng-click = "logOut()">
				<md-title>Log out</md-title>
			</md-button>
		</div>
		
		<md-tabs md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
				<md-tab id="Products" aria-controls="products-content">
					Products
				</md-tab>
				<md-tab id="Categories" aria-controls="categories-content">
					Categories
				</md-tab>
				<md-tab id="Deliverers" aria-controls="deliverers-content">
					Deliverers
				</md-tab>
				<md-tab id="Shops" aria-controls="shops-content">
					Shops
				</md-tab>
				<md-tab id="Reviews" aria-controls="reviews-content">
					Reviews
				</md-tab>
		</md-tabs>
		
	</md-toolbar>
	
	<md-content flex md-scroll-y >
		<ui-view layout="column" layout-fill layout-padding>
			<ng-switch on="data.selectedIndex" class="tabpanel-container" >
				<div role="tabpanel" id="products-content" aria-labelledby="Products" ng-switch-when="0" layout="row" layout-align="center center">
					<md-button class="md-fab  md-fab-bottom-right" aria-label="Add" ng-click="openNewProductDialog()">
						+
					</md-button>
					
					<md-button class="md-fab md-fab-top-right " aria-label="Filter" ng-click="openFilterProductsDialog()">
						<md-icon>search</md-icon>
					</md-button>
					
					<div class="md-padding" layout="row" layout-wrap flex-xs flex-gt-xs="80">
					<md-card style="width : 300px" ng-repeat="product in products | prod : prFilter" class="md-whiteframe-11dp">
						<md-card-title>
							<span class="md-title"><b>{{product.name}}</b></span>
							
						</md-card-title>
						
						<md-card-title-media>
							<div class="md-media-lg card-media">
								<img ng-src="{{product.image}}" class="md-card-image" alt="user-avatar">
								<h4 class="md-title"><i>{{product.shopName}}&nbsp; </i></h4>
								<span class="md-title">{{product.price}} $</span>
							</div>
						</md-card-title-media>
						
						<md-card-actions layout="row" layout-align="end center">
							<md-button class="md-raised md-primary" ng-click="openChangeProductDialog(product)">Change</md-button>
							<md-button class="md-raised md-primary" ng-click="deleteProduct(product.id)">Remove</md-button>
						</md-card-actions>
					</md-card>
					
					
					</div>
				</div>
				
				<div role="tabpanel" id="categories-content" aria-labelledby="Categories" ng-switch-when="1" layout="row" layout-align="center center">
					<md-button class="md-fab  md-fab-bottom-right" aria-label="Add" ng-click="openNewCategoryDialog()">
						+
					</md-button>
				
					<md-card flex-gt-sm="70" class="md-whiteframe-11dp">
						<md-card-content>
							<h2>Categories</h2>
							
							<md-list>
								<md-list-item class="secondary-button-padding" ng-repeat="category in categories">
									
									<md-list-item-content>
										<h3><b>{{category.name}}</b></h3>
										<h4>subcategory:{{category.subcategory}}</h4>
										<p>
											{{category.description}}
										</p>
									</md-list-item-content>
									
									<md-button class="md-secondary" ng-click="openChangeCategoryDialog(category)">Change</md-button>
									<md-button class="md-secondary" ng-click="deleteCategory(category.name)">Delete</md-button>
									
									<md-divider md-inset hide-sm ng-if="!$last"></md-divider>
									<md-divider hide-gt-sm ng-if="!$last"></md-divider>
									
								</md-list-item>
							</md-list>
						</md-card-content>
					</md-card>
				</div>
				
				<div role="tabpanel" id="deliverers-content" aria-labelledby="Deliverers" ng-switch-when="2" layout="row" layout-align="center center">
					<md-button class="md-fab  md-fab-bottom-right" aria-label="Add" ng-click="openNewDelivererDialog($event)">
						+
					</md-button>
				
					<md-card flex-gt-sm="70" class="md-whiteframe-11dp">
						<md-card-content>
							<h2>Deliverers</h2>
							
							<md-list>
								<md-list-item class="secondary-button-padding" ng-repeat="deliverer in deliverers">
									
									<md-list-item-content>
										<h3><b>{{deliverer.name}}</b></h3>
										<h4>Id:{{deliverer.id}}</h4>
										<h4>Countries:
											<ul ng-repeat="coun in deliverer.country">
												<li>{{coun}}</li>
											</ul>
										</h4>
										<h4>Price:{{deliverer.deliverPrice}}$</h4>
										<p>
											{{deliverer.description}}
										</p>
									</md-list-item-content>
									
									<md-button class="md-secondary" ng-click="openChangeDelivererDialog(deliverer,$event)">Change</md-button>
									<md-button class="md-secondary" ng-click="deleteDeliverer(deliverer.id)">Delete</md-button>
									
									<md-divider md-inset hide-sm ng-if="!$last"></md-divider>
									<md-divider hide-gt-sm ng-if="!$last"></md-divider>
									
								</md-list-item>
							</md-list>
						</md-card-content>
					</md-card>
				</div>
				
				<div role="tabpanel" id="shops-content" aria-labelledby="Shops" ng-switch-when="3" layout="row" layout-align="center center">
					<md-button class="md-fab  md-fab-bottom-right" aria-label="Add" ng-click="openNewShopDialog()">
						+
					</md-button>
					
					<md-button class="md-fab md-fab-top-right " aria-label="Filter" ng-click="openFilterShopsDialog()">
						<md-icon>search</md-icon>
					</md-button>
				
					<md-card flex-gt-sm="70" class="md-whiteframe-11dp">
						<md-card-content>
							<h2>Shops</h2>
							
							<md-list>
								<md-list-item class="secondary-button-padding" ng-repeat="shop in shops | sho : shFilter"> 
									
									<md-list-item-content>
										<h3><b>{{shop.name}}</b></h3>
										<h4>Id:{{shop.id}}</h4>
										<h4>Address:{{shop.address}}, {{shop.country}}</h4>
										<h4>Contact:{{shop.contact}}</h4>
										<h4>Email:{{shop.email}}</h4>
										<h4>Manager:{{shop.manager}}</h4>
									</md-list-item-content>
									
									<md-button class="md-secondary" ng-click="openChangeShopDialog(shop)">Change</md-button>
									<md-button class="md-secondary" ng-click="deleteShop(shop.id)">Delete</md-button>
									
									<md-divider md-inset hide-sm ng-if="!$last"></md-divider>
									<md-divider hide-gt-sm ng-if="!$last"></md-divider>
									
								</md-list-item>
							</md-list>
						</md-card-content>
					</md-card>
				</div>
				
				<div role="tabpanel" id="reviews-content" aria-labelledby="Reviews" ng-switch-when="4" layout="row" layout-align="center center">
					
					<md-card flex-gt-sm="70" class="md-whiteframe-11dp">
						<md-card-content>
							<h2>Reviews</h2>
							
							<md-list>
								<md-list-item class="secondary-button-padding" ng-repeat="review in reviews | orderBy:'-markPositive'"> 
									
									<md-list-item-content>
										<h3><b>{{review.user}}</b></h3>
										<h4>Id:{{review.id}}</h4>
										<h4>Date:{{review.date | date: "MMM dd, yyyy"}}</h4>
										<h4>Mark Positive:{{review.markPositive}}</h4>
										<h4>Mark Negative:{{review.markNegative}}</h4>
										<p>{{review.comment}}</p>
									</md-list-item-content>
									
									<md-button class="md-secondary" ng-click="deleteReview(review.id)">Delete</md-button>
									
									<md-divider md-inset hide-sm ng-if="!$last"></md-divider>
									<md-divider hide-gt-sm ng-if="!$last"></md-divider>
									
								</md-list-item>
							</md-list>
						</md-card-content>
					</md-card>
				</div>
			</ng-switch>
		</ui-view>
	</md-content>
	
	
</div>

<!-- html template for new product -->
<script type="text/ng-template" id="newProductModal.html">
	<div class="modal-header">
    	<h3 class="modal-title">New product</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
			<div class="span6" layout="row" layout-wrap flex-xs flex-gt-xs="80" layout-align="center center">
				<md-input-container class="md-block">
					<label>Id</label>
					<input md-no-asterisk ng-model="newProduct.id">
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Name</label>
					<input md-no-asterisk ng-model="newProduct.name">
				</md-input-container>
				
				
				<md-input-container class="md-block">
					<label>Weight</label>
					<input md-no-asterisk ng-model="newProduct.weight">
				</md-input-container>

				<md-input-container class="md-block">
					<label>Country</label>
					<input md-no-asterisk ng-model="newProduct.country">
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Producer</label>
					<input md-no-asterisk ng-model="newProduct.producer">
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Price</label>
					<input md-no-asterisk ng-model="newProduct.price">
				</md-input-container>
				
				<md-button ngf-select ng-model="files" ngf-multiple="true">Choose image</md-button>

				<md-button ngf-select ng-model="video" ngf-multiple="false">Choose video</md-button>
				
			<!--	<form action="/WebProject/rest/upload" method="post" enctype="multipart/form-data">
					<input type="file" name="file">
					<input type="submit" value="Upload" />
				</form> -->

				
				
				<md-input-container class="md-block">
					<label>Mark</label>
					<input md-no-asterisk ng-model="newProduct.mark">
				</md-input-container>

				<md-input-container class="md-block">
					<label>Count</label>
					<input md-no-asterisk ng-model="newProduct.quantity">
				</md-input-container>

				<select style="width : 200px" ng-model="newProduct.category">
					<option value="" disabled selected>Category</option>
					<option ng-value="category" ng-repeat="category in categoriesString">{{category}}</option>
				</select>

				<select style="width : 200px" ng-model="newProduct.shopName">
					<option value="" disabled selected>Shop</option>
					<option ng-value="shop" ng-repeat="shop in shopsString">{{shop}}</option>
				</select>
				
				<div style="width : 200px">
				Color:
				<input type="color" class="form-control" id="item-color" ng-model="newProduct.color">
				</div>

				<div layout="row">
					<md-input-container class="md-block" style="width : 100px">
						<label>Width</label>
						<input md-no-asterisk ng-model="newProduct.dimensions[0]">
					</md-input-container>
					<md-input-container class="md-block" style="width : 100px">
						<label>Height</label>
						<input md-no-asterisk ng-model="newProduct.dimensions[1]">
					</md-input-container>
					<md-input-container class="md-block" style="width : 100px">
						<label>Depth</label>
						<input md-no-asterisk ng-model="newProduct.dimensions[2]">
					</md-input-container>
				<div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<md-button class="md-raised md-primary" ng-click="addProduct(newProduct)">Add</md-button>
		<md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
    	
	</div>
</script>

<!-- html template for change product -->
<script type="text/ng-template" id="changeProductModal.html">
	<div class="modal-header">
    	<h3 class="modal-title">New product</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
			<div class="span6" layout="row" layout-wrap flex-xs flex-gt-xs="80" layout-align="center center">
				<md-input-container class="md-block">
					<label>Id</label>
					<input md-no-asterisk ng-model="productToChange.id" disabled>
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Name</label>
					<input md-no-asterisk ng-model="productToChange.name" disabled>
				</md-input-container>
				
				
				<md-input-container class="md-block">
					<label>Weight</label>
					<input md-no-asterisk ng-model="productToChange.weight">
				</md-input-container>

				<md-input-container class="md-block">
					<label>Country</label>
					<input md-no-asterisk ng-model="productToChange.country">
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Producer</label>
					<input md-no-asterisk ng-model="productToChange.producer">
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Price</label>
					<input md-no-asterisk ng-model="productToChange.price">
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Image</label>
					<input md-no-asterisk disabled ng-model="productToChange.image">
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Video</label>
					<input md-no-asterisk disabled ng-model="productToChange.video">
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Mark</label>
					<input md-no-asterisk ng-model="productToChange.mark">
				</md-input-container>

				<md-input-container class="md-block">
					<label>Count</label>
					<input md-no-asterisk ng-model="productToChange.quantity">
				</md-input-container>

				<select style="width : 200px" ng-model="productToChange.category">
					<option value="" disabled selected>Category</option>
					<option ng-value="category" ng-repeat="category in categoriesString">{{category}}</option>
				</select>

				<select style="width : 200px" ng-model="productToChange.shopName">
					<option value="" disabled selected>Shop</option>
					<option ng-value="shop" ng-repeat="shop in shopsString">{{shop}}</option>
				</select>	
				
				<div style="width : 200px">
				Color:
				<input type="color" class="form-control" id="item-color" ng-model="productToChange.color">
				</div>

				<div layout="row">
					<md-input-container class="md-block" style="width : 100px">
						<label>Width</label>
						<input md-no-asterisk ng-model="productToChange.dimensions[0]">
					</md-input-container>
					<md-input-container class="md-block" style="width : 100px">
						<label>Height</label>
						<input md-no-asterisk ng-model="productToChange.dimensions[1]">
					</md-input-container>
					<md-input-container class="md-block" style="width : 100px">
						<label>Depth</label>
						<input md-no-asterisk ng-model="productToChange.dimensions[2]">
					</md-input-container>
				<div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<md-button class="md-raised md-primary" ng-click="changeProduct(productToChange)">Add</md-button>
		<md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
    	
	</div>
</script>

<!-- html template for new category -->
<script type="text/ng-template" id="newCategoryModal.html">
	<div class="modal-header">
    	<h3 class="modal-title">New category</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
			<div class="span6">
				<md-input-container class="md-block">
					<label>Name</label>
					<input md-no-asterisk ng-model="newCategory.name">
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Description</label>
					<input md-no-asterisk ng-model="newCategory.description">
				</md-input-container>
				
				<select style="width : 200px" ng-model="newCategory.subcategory">
					<option value="" disabled selected>Subategory</option>
					<option ng-value="category" ng-repeat="category in categoriesString">{{category}}</option>
				</select>
			
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<md-button class="md-raised md-primary" ng-click="addCategory(newCategory)">Add</md-button>
		<md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
    	
	</div>
</script>

<!-- html template for change category -->
<script type="text/ng-template" id="changeCategoryModal.html">
	<div class="modal-header">
    	<h3 class="modal-title">New category</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
			<div class="span6">
				<md-input-container class="md-block">
					<label>Name</label>
					<input md-no-asterisk disabled ng-model="categoryToChange.name">
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Description</label>
					<input md-no-asterisk ng-model="categoryToChange.description">
				</md-input-container>
				
				<select style="width : 200px" ng-model="categoryToChange.subcategory">
					<option value="" disabled selected>Subategory</option>
					<option ng-value="category" ng-repeat="category in categoriesString">{{category}}</option>
				</select>
			
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<md-button class="md-raised md-primary" ng-click="changeCategory(categoryToChange)">Add</md-button>
		<md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
    	
	</div>
</script>

<!-- html template for new deliverer -->
<script type="text/ng-template" id="newDelivererModal.html">
	<md-dialog aria-label="newDeliverer" ng-cloak>
	<div class="modal-header">
    	<h3 class="modal-title">New deliverer</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
			<div class="span6">
				<md-input-container class="md-block">
					<label>Id</label>
					<input md-no-asterisk ng-model="newDeliverer.id" required>
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Name</label>
					<input md-no-asterisk ng-model="newDeliverer.name" required>
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Description</label>
					<input md-no-asterisk ng-model="newDeliverer.description" required>
				</md-input-container>

				<md-input-container class="md-block">
					<label>Price:</label>
					<input md-no-asterisk ng-model="newDeliverer.deliverPrice" required>
				</md-input-container>

				<md-autocomplete
                  md-selected-item="selectedCountry"
                  md-search-text="searchText"
                  md-selected-item-change="addCountry(selectedCountry.name)"
                  md-items="item in countries | filter: searchText | orderBy: name"    
                  md-item-text="item.name"
                  md-min-length="0"
                  placeholder="Available Countries">
                <md-item-template>
                  <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
                </md-item-template>
                <md-not-found>
                  No countries matching "{{searchText}}" were found.
                </md-not-found>
              </md-autocomplete>
         
          <md-input-container class="md-block">
            <md-chips ng-model="newDeliverer.country"></md-chips>
          </md-input-container>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<md-button class="md-raised md-primary" ng-click="addDeliverer(newDeliverer)">Add</md-button>
		<md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
    	
	</div>
</md-dialog>
</script>

<!-- html template for change deliverer -->
<script type="text/ng-template" id="changeDelivererModal.html">
<md-dialog aria-label="delivererToChange" ng-cloak>
	<div class="modal-header">
    	<h3 class="modal-title">New deliverer</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
			<div class="span6">
				<md-input-container class="md-block">
					<label>Id</label>
					<input md-no-asterisk disabled ng-model="delivererToChange.id">
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Name</label>
					<input md-no-asterisk disabled ng-model="delivererToChange.name">
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Description</label>
					<input md-no-asterisk ng-model="delivererToChange.description">
				</md-input-container>

				<md-input-container class="md-block">
					<label>Price:</label>
					<input md-no-asterisk ng-model="delivererToChange.deliverPrice">
				</md-input-container>

				<md-autocomplete
                  md-selected-item="selectedCountry"
                  md-search-text="searchText"
                  md-selected-item-change="addCountry(selectedCountry.name)"
                  md-items="item in countries | filter: searchText | orderBy: name"    
                  md-item-text="item.name"
                  md-min-length="0"
                  placeholder="Available Countries">
                <md-item-template>
                  <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
                </md-item-template>
                <md-not-found>
                  No countries matching "{{searchText}}" were found.
                </md-not-found>
              </md-autocomplete>
         
          <md-input-container class="md-block">
            <md-chips ng-model="delivererToChange.country"></md-chips>
          </md-input-container>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<md-button class="md-raised md-primary" ng-click="changeDeliverer(delivererToChange)">Add</md-button>
		<md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
    	
	</div>
</md-dialog>
</script>

<!-- html template for new shop -->
<script type="text/ng-template" id="newShopModal.html">
	<div class="modal-header">
    	<h3 class="modal-title">New shop</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
			<div class="span6">
				<md-input-container class="md-block">
					<label>Id</label>
					<input md-no-asterisk ng-model="newShop.id">
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Name</label>
					<input md-no-asterisk ng-model="newShop.name">
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Address</label>
					<input md-no-asterisk ng-model="newShop.address">
				</md-input-container>

				<select style="width : 200px" ng-model="newShop.country">
					<option value="" disabled selected>Country</option>
					<option ng-value="country.name" ng-repeat="country in countries">{{country.name}}</option>
				</select>

				<md-input-container class="md-block">
					<label>Contact</label>
					<input md-no-asterisk ng-model="newShop.contact">
				</md-input-container>

				<md-input-container class="md-block">
					<label>Email</label>
					<input md-no-asterisk ng-model="newShop.email">
				</md-input-container>

				<select style="width : 200px" ng-model="newShop.manager">
					<option value="" disabled selected>Manager</option>
					<option ng-value="manager" ng-repeat="manager in managersString">{{manager}}</option>
				</select> 
			
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<md-button class="md-raised md-primary" ng-click="addShop(newShop)">Add</md-button>
		<md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
    	
	</div>
</script>

<!-- html template for change shop -->
<script type="text/ng-template" id="changeShopModal.html">
	<div class="modal-header">
    	<h3 class="modal-title">New category</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
			<div class="span6">
				<md-input-container class="md-block">
					<label>Id</label>
					<input md-no-asterisk disabled ng-model="shopToChange.id">
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Name</label>
					<input md-no-asterisk disabled ng-model="shopToChange.name">
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Address</label>
					<input md-no-asterisk ng-model="shopToChange.address">
				</md-input-container>

				<select style="width : 200px" ng-model="shopToChange.country">
					<option value="" disabled selected>Country</option>
					<option ng-value="country.name" ng-repeat="country in countries">{{country.name}}</option>
				</select>

				<md-input-container class="md-block">
					<label>Contact</label>
					<input md-no-asterisk ng-model="shopToChange.contact">
				</md-input-container>

				<md-input-container class="md-block">
					<label>Email</label>
					<input md-no-asterisk ng-model="shopToChange.email">
				</md-input-container>

				<select style="width : 200px" ng-model="shopToChange.manager">
					<option value="" disabled selected>Manager</option>
					<option ng-value="manager" ng-repeat="manager in managersString">{{manager}}</option>
				</select> 
			
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<md-button class="md-raised md-primary" ng-click="changeShop(shopToChange)">Add</md-button>
		<md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
    	
	</div>
</script>

<!-- html template for filter -->
<script type="text/ng-template" id="filterProduct.html">
<md-dialog ng-cloak>	
<div class="modal-header">
    	<h3 class="modal-title">Filter</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
			<div class="span6" layout="row" layout-wrap flex-xs flex-gt-xs="80" layout-align="center center">
				
				
				<md-input-container class="md-block">
					<label>Name</label>
					<input md-no-asterisk ng-model="filter.name">
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Country</label>
					<input md-no-asterisk ng-model="filter.country">
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>PriceFrom</label>
					<input md-no-asterisk ng-model="filter.priceFrom">
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>PriceTo</label>
					<input md-no-asterisk ng-model="filter.priceTo">
				</md-input-container>

				<md-input-container class="md-block">
					<label>Mark</label>
					<input md-no-asterisk ng-model="filter.mark">
				</md-input-container>

				<md-input-container class="md-block">
					<label>Count</label>
					<input md-no-asterisk ng-model="filter.quantity">
				</md-input-container>

				<md-input-container class="md-block">
					<label>Review number</label>
					<input md-no-asterisk ng-model="filter.reviewNumber">
				</md-input-container>

				<select style="width : 200px" ng-model="filter.category">
					<option value="" disabled selected>Category</option>
					<option ng-value="category" ng-repeat="category in categoriesString">{{category}}</option>
				</select>

				
				<div style="width : 200px">
				Color:
				<input type="color" class="form-control" id="item-color" ng-model="filter.color">
				</div>

			</div>
		</div>
	</div>
	<div class="modal-footer">
		<md-button class="md-raised md-primary" ng-click="resetFilter(filter)">Reset filter</md-button>
		<md-button class="md-raised md-primary" ng-click="filterProducts(filter)">Filter</md-button>
		<md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
    	
	</div>
</md-dialog>
</script>

<!-- html template for filter shops -->
<script type="text/ng-template" id="filterShops.html">
<md-dialog ng-cloak>	
<div class="modal-header">
    	<h3 class="modal-title">Filter</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
			<div class="span6" layout="row" layout-wrap flex-xs flex-gt-xs="80" layout-align="center center">
				
				
				<md-input-container class="md-block">
					<label>Name</label>
					<input md-no-asterisk ng-model="filter.name">
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Country</label>
					<input md-no-asterisk ng-model="filter.country">
				</md-input-container>
				
				
				<md-input-container class="md-block">
					<label>Mark</label>
					<input md-no-asterisk ng-model="filter.mark">
				</md-input-container>

				
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<md-button class="md-raised md-primary" ng-click="resetFilter(filter)">Reset filter</md-button>
		<md-button class="md-raised md-primary" ng-click="filterShops(filter)">Filter</md-button>
		<md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
    	
	</div>
</md-dialog>
</script>